<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1411335577607360~4938072301</string>
	<key>SKAdNetworkIdentifier</key>
	<string>cstr6suwn9.skadnetwork</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>backcolor</string>
		<key>UIImageName</key>
		<string>imagelunch</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
		<dict/>
	</array>
</dict>
</plist>
